{erl_opts, [debug_info, warnings_as_errors]}.

{deps, []}.





{relx, [{release, {arbiguard, "0.1.0"}, [arbiguard]},
        {dev_mode, true},
        {include_erts, false}]}.

{shell, [
    {apps, [arbiguard]} ,
    {config, "config/sys.config"}
]}.


{dist_node, [
    {name, 'arbiguard@127.0.0.1'},
    {setcookie, 'mysecretcookie'}
]}.


