{erl_opts, [debug_info, warnings_as_errors]}.

{src_dirs, ["src",
            "src/core",
            "src/http",
            "src/exchange",
            "src/strategy",
            "src/account",
            "src/execution",
            "src/support"]}.

{deps, [
    {lager, "3.9.2"}
]}.

{relx, [{release, {arbiguard, "0.1.0"}, [arbiguard]},
        {dev_mode, true},
        {include_erts, false},
        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"}]}.

{shell, [
    {apps, [arbiguard]},
    {config, "config/sys.config"}
]}.

{dist_node, [
    {name, 'arbiguard@127.0.0.1'},
    {setcookie, 'arbiguard_cookie'}
]}.
